@import '../colors.css';

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 0 0 250px;
  flex-direction: column;
  list-style-type: s;
  margin: 0.5em 0.5em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__content {
  padding: 0.5em 0.5em;
}

.card__image {
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
}
